@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";

  background-color: #1d2029;
  color: #ffb70b;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100vh;
}

#quote-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem;
  width: 50%;

  background-color: #00a9a9;
  border-radius: 0.5rem;

  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.quote-text {
  text-align: justify !important;
}

#text {
  font-size: 2rem;
  font-weight: 700;
  transition: opacity 0.5s ease-in-out;
}

.quote-author {
  align-self: flex-end;
}

#author {
  font-size: 1.25rem;
  font-weight: 600;
}

.buttons {
  justify-content: space-between;
  margin-top: 2rem;
  display: flex;
}

.buttons a {
  text-decoration: none;
}

.button {
  background-color: #ffb70b;
  border: none;
  color: #1d2029;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 0.2rem;

  cursor: pointer;
  transition: 100ms ease;
}

.button:hover {
  transform: scale(1.1);
  transition: 100ms ease;
}

.watermark a {
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  color: #ffb70b;
}
